<%= form_for(@pnote) do |f| %>
  <% if @pnote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pnote.errors.count, "error") %> prohibited this pnote from being saved:</h2>

      <ul>
      <% @pnote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :para1 %><br>
    <%= f.text_area :para1 %>
  </div>
  <div class="field">
    <%= f.label :para2 %><br>
    <%= f.text_area :para2 %>
  </div>
  <div class="field">
    <%= f.label :para3 %><br>
    <%= f.text_area :para3 %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<br>
<!-- Main Accordian within a Fieldset -->

  <fieldset id="fieldsetNote1">
    <div id="heading1"></div>
    <ul id="noteList">
      <li>ITEMVALUE1</li>
          <li>  
                   
              <div class="FloatLt"> 
                  <textarea id="taItemValue1" name="taItemValue1"></textarea>
              </div>
              
              <div class="FloatLt">
                     <input type="button" id ="bItemValueToggle1" value="Toggle">
                     <input type="button" id ="bItemValue1Reset" value="Reset">
                     <input type="button" id ="bItemValue1Hist" value="Hist">
                     <br /><br />
                     <input type="button" id ="bItemValue1Dx" value="Dx:From'update'"> 
                     <br /> 
                     <input type="button" id ="bItemValue1DxYrNote" value="Dx:FromPsychYrNote"> 
                     <br /> 
                     <input type="button" id ="bItemValue1DxMsList" value="Dx:FromMedSpecList">
                     <br /> 
                     <input type="button" id ="bItemValue1Meds" value="Current Meds">
                     <div id="picture"></div>
                     <input type="text" id="dateDOA">
              </div>           
              <div class="clearLtONLY"></div><!---?Needed to stop jitter, or floats behaving badly with toggling-->
          </li>
       <li>Level2</li>
          <li>  
                   
              <div class="FloatLt"> 
                  <textarea id="taItemValue2" name="taItemValue2"></textarea>
              </div>
              
              <div class="FloatLt">
                     <input type="button" id ="bItemValueToggle2" value="Toggle">
                     <input type="button" id ="bItemValue2Reset" value="Reset">
                     <input type="button" id ="bItemValue2Hist" value="Hist">
                     <br /><br />
                     <input type="button" id ="bItemValue2Dx" value="Dx:From'update'"> 
                     <br /> 
                     <input type="button" id ="bItemValue2DxYrNote" value="Dx:FromPsychYrNote"> 
                     <br /> 
                     <input type="button" id ="bItemValue2DxMsList" value="Dx:FromMedSpecList">
                     <br /> 
                     <input type="button" id ="bItemValue2Meds" value="Current Meds">
                     <div id="picture"></div>
                     <input type="text" id="dateDOA">
              </div>           
              <div class="clearLtONLY"></div><!---?Needed to stop jitter, or floats behaving badly with toggling-->
          </li>   

      <li>Master </li>
            <li>
              <div class="FloatLt"> First Div</div>
              <div class="FloatLt"> Second Div</div>
              <div class="LtClear_g"></div>
              <div class="wrap1">Wrap1</div>
              <div class="wrap1">Wrap2</div>
              <div class="wrap1"><b>Professional Registration</b></div>
        <!-- <div class="clearLtONLY"></div> MAY NEED TO STOP JITTER etc -->
            </li>

        </ul>

        <!---SAVE BUTTONS-->           
      <!---Use as a visible line to delimit buttons-->
       <div class="bottomLine"></div>
       <!---GROOVE BOX FOR "ABOVE SAVE" STUFF i.e., ms dropdowns-->
            <!---<div class="groove">In the groove <input type="text" name="dateOrderDate2" id="dateOrderDate2" /></div>-->
      <div class="FloatLt">
          <!-- <div id="loading" class="loadingDiv3">Loading...</div> -->
          <div class="FloatLt"><input  type="button" id="bSaveTemp" value="TemporarySave"/></div>
          <div class="FloatLt"><input  type="button" id="bSavePerm" value="PermanentSave"/></div>
          <div class="FloatLt"><select name="selectHistory"  id="selectHistory"></select></div>
          <!---<div class="FloatLt"><select name="selectHistory2"  id="selectHistory2"></select></div>-->
          <div class="FloatLt"><input  type="text" name="tempSave" id="tempSave"></div>
          <div class="FloatLt"><input  type="text" name="permSave" id="permSave"></div>
          
      </div>
  </fieldset>
