<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>C number</th>
      <th>Date of admission</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="trash">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%#= user.c_number %></td>
        <td><%#= user.date_of_admission %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>