
<ul id="main-menu" class="sm sm-blue">
  <!-- <li><img src="/images/rails.jpg" width="57" height="30"></li> -->
  <li><%= image_tag 'rails.jpg', size: '35x43' %></li>
  <li><%= image_tag 'eCare3.gif', size: '35x25' %></li>
  <li><a href="#">Lists/Grids</a>
    <ul>
      <li><a href="<%= patients_path %>">Default Scaffold List</a></li>
      <li><a href="<%= apatients_path %>">Def Scaffold List + AJAX</a></li>
    </ul>
  </li>
  <li><a href="">Notes</a>
    <ul>
      <li><a href="<%= multiplemaster_show_path %>">ComplexMaster</a></li>
      <li><a href="#">SimpleMaster</a></li>
      <li><a href="">ShapeMeds-function</a></li>
      <li><a href="<%= pnotes_path %>">Default Scaffold Pnotes</a></li>
    </ul>
  </li>
  <li><a href="#">Menus</a>
    <ul>
      <li><a href="<%= menumaster_show_path %>">jQuery Menu Widget</a></li>
      <li><a href="<%= smartmenus_show_path %>">SmartMenus</a></li>
    </ul>
  </li>
  <li><a href="#">Item 3</a>
    <ul>
      <li><a href="#">Item 3-1</a>
      	<ul>
      		<li><a href="#">Item 3-1-1</a></li>
      		<li><a href="#">Item 3-1-2</a></li>
      		<li><a href="#">Item 3-1-3</a></li>
      		<li><a href="#">Item 3-1-4</a></li>
      	</ul>
      </li>
      <li><a href="#">Item 3-2</a></li>
      <li><a href="#">Item 3-3</a></li>
    </ul>
  </li>
  <li><a href="#">Item 3</a></li>
  
</ul>